.DS_Store

*.apk
*.aar
*.ap_
*.aab

*.dex
*.class

bin/
gen/
out/

.gradle/
build/

local.properties

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml

vcs.xml

